/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Configurações gerais */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', Arial, sans-serif;
  font-size: 18px; 
  line-height: 1.6;   
  
}

body {
  background: url("./backg.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  position: relative;  
  padding: 10px;
}

/* Configurações do cabeçalho */
header {
  width: 100%;
  padding: 10px;
  border-radius: 1px;
  text-align: center;
}

/* Configurações da barra de menu */
nav {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  border: 1px solid #fff;
  box-shadow: none;
  padding: 10px;
  border-radius: 1px;
}

nav * {
  font-style: normal;  
  font-size: 16px !important;
  white-space: nowrap;
}

nav ul {
  list-style: none;
  padding: 10;
  margin: 10;
}

nav ul li {
  position: relative;
  display: block; /* Exibe os itens do menu na vertical */
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  color: white;
  border-radius: 1px;
  transition: background-color 0.3s, transform 0.2s ease; /* Adiciona transi??o */
}

nav ul li a:hover {
  background-color: #444; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

nav ul li a.active {
  color: white;
   font-size: 18px !important;
  font-weight: bold;
  text-decoration: underline;
    box-shadow: 2px 2px 5px rgba(2, 2, 2, 3.5); 
  
}

/* Configurações do submenu */
nav ul li ul.submenu {
  display: none; 
  opacity: 0; /* Invis?vel inicialmente */
  transform: translateY(-10px); /* Move o submenu para cima */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transi??o suave */
  list-style: none;
  padding: 10;
  margin: 10;
  position: absolute; 
  top: 100%; 
  left: 60%;
 
  border: 1px solid #ccc;
  border-radius: 1px;
  z-index: 1000;
}

nav ul li:hover > ul.submenu {
  display: block;
  opacity: 1; /* Torna vis?vel */
  transform: translateY(0); /* Move para a posi??o original */
}

nav ul li ul.submenu li {
  display: block;
  margin-bottom: 1px;
}

nav ul li ul.submenu li a {
 display: block;
  font-family: 'Poiret One', Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
  color: white;
  text-decoration: none;
  
 box-shadow: 2px 2px 5px rgba(2, 2, 2, 3); 
  transition: background-color 0.2s;
}

nav ul li ul.submenu li a:hover {
  
  box-shadow: 2px 2px 5px rgba(2, 2, 2,6); 
}

nav ul li ul.submenu li a.active {
  color: white;
  box-shadow: 2px 2px 5px rgba(2, 2, 2, 3); 
  border-radius: 1px; /* Mant?m os cantos arredondados */
  text-decoration: underline;
}

/* Submenu dentro de outro submenu */
nav ul li ul.submenu li ul.submenu {
  top: 0;
  left: 70%;
box-shadow: 2px 2px 5px rgba(1, 1, 1, 2.5); 
}

/* Estilo para a setinha */
nav ul li a .arrow {
  font-size: 0.8em;
  margin-left: 5px;
  transition: transform 0.3s ease; /* Transi??o suave */
}

nav ul li:hover > a .arrow {
  transform: rotate(180deg); /* Gira a seta */
}

/* Configurações da barra lateral */
.sidebar {
  width: 200px; 
  padding: 10px;
  border-radius: 1px;  
  font-family: 'Poiret One', Arial, sans-serif;
  font-size: 20px;
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 10;
  margin: 10;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  font-family: 'Poiret One', Arial, sans-serif;
  font-size: 15px;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
  border-radius: 1px;
  transition: background-color 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
  color: white;
   box-shadow: 2px 2px 5px rgba(2, 2, 2, 3); 
  border-radius: 1px; /* Mant?m os cantos arredondados */
}

/* Configurações do conteúdo principal */
.container {
  display: flex;
  min-height: 80vh;  
  margin-bottom: 10px;  
  gap: 10px; 
}

.main-content {
  flex-grow: 1;
  padding: 5px;  
  margin: 5px 10;
  border-radius: 1px;
}

.main-content section {
  border: 2px solid #ccc; /* Cor e espessura da borda */
  border-radius: 1px; /* Cantos arredondados */
  padding: 10px; /* Espa?amento interno (dentro da borda) */
  margin: 10px; /* Espa?amento externo (entre as bordas das se??es) */
 
}

.text-container {
  display: flex; 
  flex-direction: column;
  gap: 10px;
}

.imagens-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
}

.imagem-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.imagem-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1px;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 20px auto; 
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Configurações de listas e formulários */
.contactos-list {
  list-style: disc;
  padding-left: 20px;
  text-align: center;
}

.contactos-list li {
  text-align: center;
}

.form-container {
  margin-top: 20px;
}

/* Configurações de títulos e seções */
.section-title {
  font-size: 1.5em;   
  margin-bottom: 0.5em;
}

.centered-title {
  text-align: center!important;
  font-size: 2.5em; 
  margin: 0 auto;
}

.spaced-section {
  margin-bottom: 15px; 
}

.paixoes {
  text-align: center!important; 
}

.paixoes figure {
  display: inline-block; 
  text-align: center!important; 
  margin: 10px; 
}

.paixoes img {
  max-width: 200px;   
  margin: 0 auto; 
}

.centered-table {
  border-spacing: 0 15px; 
  border-collapse: separate; 
}

/* Configurações do rodapé */
footer {
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  border-top: 1px solid #fff;
}


